.bodystyles {
    background-color : black;
    }

.col{
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Yanone Kaffeesatz', sans-serif; color: #fff; font-size: 24px;
  }

.titulo{
    padding:10px;
    font-family: 'Oswald', sans-serif; color: yellow; font-size: 100px;
  }

.texto{
    font-family: 'Yanone Kaffeesatz', sans-serif; color: #fff; font-size: 24px;
  }

  .titulo_tar{
    font-family: 'Oswald', sans-serif; color: yellow; font-size: 40px;
  } 

.container{
  padding:10px;
}

.container2{
  margin-top: 50px;
}

